name: azure-services-cd-v2

on:
  workflow_dispatch:

jobs:
  deploy-terraform-scripts:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./azsvcs 
    env:
      ARM_ACCESS_KEY: ${{secrets.ARM_ACCESS_KEY}}
      ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET}}
      
      # This is a temporary measure until setenvvars.sh is fixed
      ARM_SUBSCRIPTION_ID: d3819925-7e44-4f5f-8733-1067beaa45ec
      ARM_CLIENT_ID: acfa0cc8-3712-46b8-955c-9f5dae0ef4ab
      ARM_TENANT_ID: 58975fd3-4977-44d0-bea8-37af0baac100
      branch_env_name: ${GITHUB_REF#refs/*/}
    
    steps:

      - name: show
        run: |
          echo GITHUB_ENV: $GITHUB_ENV
          echo $branch_env_name

      - name: show branch_env_name 
        run: echo ${branch_env_name}


      - uses: actions/checkout@v2
        with:
          ref: ${branch_env_name}

      - name: Verify directories and files
        run: find . -iname "*.*"

      - name: Verify environment variables REMOVE THIS STEP WHEN STABLE
        run: env |sort

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
