# This is a basic workflow to help you get started with Actions

name: bn
on:
  workflow_dispatch:

jobs:
  show-bn:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: show
        run: |
          export env_name=${GITHUB_REF#refs/*/}
          echo $env_name

      - name: show1
        run: |
          echo $env_name
